﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <section class="featured">
            <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        
                            @if (Request.IsAuthenticated)
                            {
                                <ul id="menu">@Html.ActionLink("HeadSpring Employee Database", "Index", "Employee")</ul>
                            }
                            else
                            {
                                <ul id="menu">
                                    @Html.ActionLink("HeadSpring Employee Database", "Login", "Account")
                                </ul>
                            }

                       

</div>
                    <div class="float-right">
                        <section id="login">
                         <b> @Html.Partial("_LoginPartial")</b>  
                        </section>

                    </div>                             
                    
                </div>
            </header>
            </section>
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year -  HeadSprings Employee Directory</p>
                    </div>
                </div>
            </footer>

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
</body>
</html>
