﻿
    @if (Request.IsAuthenticated)
    {
        <text>
            <ul>
                Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!

                <li>@Html.ActionLink("Manage", "Manage", "Account")</li>



                @if (User.IsInRole("HR"))
                {
                    <li>@Html.ActionLink("Add Roles", "AddRole", "Account")</li>
                    <li>@Html.ActionLink("Add New Emploee", "Create", "Employee")</li>
                }

                <li>@Html.ActionLink("Employee Directory", "Index", "Employee")</li>


                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                }
            </ul>

        </text>
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        </ul>
    }
