﻿@model HeadSpringsDatabase.Models.EmpRoles

@{
    ViewBag.Title = "AddRole";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>

            <td>
                <fieldset>
                    <legend></legend>

                    <div class="editor-label">
                        <h2>Add Role</h2>
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RoleName)
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>

            </td>

            <td width="30px"> </td>
            <td>
                <h2>Existing Role(s)</h2>

                <fieldset>
                    <legend></legend>

                    <table>


                        <tr>
                            <td>
                                @foreach (string EmpRole in Roles.GetAllRoles())
                                {

                                    @EmpRole

                                    <br />

                                    
                                }
                            </td>
                            


                        </tr>

                    </table>


                </fieldset>


            </td>
        </tr>

    </table>

    <br />
}

<div>
    @Html.ActionLink("Back to List", "Index", "Employee")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
