﻿@model HeadSpringsDatabase.Models.EmployeeDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EmployeeDetails</legend>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.UserName)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
      <b> @Html.DisplayNameFor(model => model.FullName)</b>   
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.JobTitle)</b> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobTitle)
    </div>
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Location)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Email)</b> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.PhoneNumber)</b> 
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">

      <b>@Html.DisplayNameFor(model => model.Role)</b>   
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
