﻿@model HeadSpringsDatabase.Models.EmployeeDetails

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2>

<fieldset>
    <legend>EmployeeDetails</legend>

    <table>
        <tr>
            <th><div class="display-label">
    @Html.DisplayNameFor(model => model.UserName)
</div></th>
            
        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.UserName)
</div></td>
            
        </tr>

        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.FullName)
                </div>
            </th>

        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.FullName)
</div></td>
            
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.JobTitle)
                </div>
            </th>

        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.JobTitle)
</div></td>
            
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Location)
                </div>
            </th>

        </tr>
        <tr>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </td>

        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
            </th>

        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.Email)
</div></td>
            
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </div>
            </th>

        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.PhoneNumber)
</div></td>
            
        </tr>
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Role)
                </div>
            </th>

        </tr>
        <tr>
            <td><div class="display-field">
    @Html.DisplayFor(model => model.Role)
</div></td>
          
        </tr>
        

    </table>
    
   

</fieldset>
<p>
    @if (User.IsInRole("HR"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId });
    }
    
    @Html.ActionLink("Back to List", "Index")
</p>
