﻿@model IEnumerable<HeadSpringsDatabase.Models.EmployeeDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Listing</h2>

<p>
@if (User.IsInRole("HR"))
{
    @Html.ActionLink("Add New Employee", "Create")
}

@Html.ActionLink("Search Employee", "SearchIndex")
    @Html.ValidationSummary(true)
   
</p>
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
       
        <td>
            @if (User.IsInRole("HR"))
            { @Html.ActionLink("Edit", "Edit", new { id=item.UserId });
              
                
             @Html.ActionLink("Delete", "Delete", new { id = item.UserId });
                                                                         
            }

            
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) 
           
        </td>
    </tr>
}

</table>*@

<br/>


@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 15,
    selectionFieldName: "selectedRow");
    grid.Pager(WebGridPagerModes.NextPrevious);}

@if (User.IsInRole("HR"))
{
    <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",

            columns: grid.Columns(
                            grid.Column("UserName", " User Name"),
                            grid.Column("FullName", "Full Name"),
                            grid.Column("",format: @<text>@Html.ActionLink("Details", "Details", new { id = item.UserId })</text>),
     grid.Column("Action", format: @<text> @Html.ActionLink("Edit", "Edit", new { id = item.UserId })</text>),
     grid.Column("",format: @<text>@Html.ActionLink("Delete", "Delete", new { id = item.UserId })</text>)
     

                                ))
    </div>
}
else
{
    <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",

            columns: grid.Columns(
                            grid.Column("UserName", " User Name"),
                            grid.Column("FullName", "Full Name"),
     grid.Column("Action", format: @<text> @Html.ActionLink("Details", "Details", new { id = item.UserId })</text>)

                                      ))
    </div>
}

