﻿@model IEnumerable<HeadSpringsDatabase.Models.EmployeeDetails>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>Employee Listing</h2>

<table>  <tr> <td>
    
    
    @if (User.IsInRole("HR"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</td>
    
    <td>@Html.ActionLink("Back to List", "Index")</td></tr></table>
<br/>


   


@using (Html.BeginForm())
{
    <p>
        <div class="display-label"> <b> Please enter Employee Name</b></div>  @Html.TextBox("searchstring")<br />
        <input type="submit" value="Search" name="button" />
       
    </p>
}
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @if (User.IsInRole("HR"))
            { @Html.ActionLink("Edit", "Edit", new { id = item.UserId });
              @Html.ActionLink("Delete", "Delete", new { id = item.UserId });
            }


            @Html.ActionLink("Details", "Details", new { id = item.UserId })
            
        </td>
    </tr>
}

</table>*@
<br/>

@{
    var grid = new WebGrid(null , canPage: true, rowsPerPage: 15,
    selectionFieldName: "selectedRow", defaultSort: "UserName");
    grid.Bind(Model, rowCount: ViewBag.TotalCount);
    grid.Pager(WebGridPagerModes.NextPrevious);}

@if (User.IsInRole("HR"))
{
    <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",

            columns: grid.Columns(
                            grid.Column("UserName", " User Name"),
                            grid.Column("FullName", "Full Name"),
                            grid.Column("", format: @<text>@Html.ActionLink("Details", "Details", new { id = item.UserId })</text>),
     grid.Column("Action", format: @<text> @Html.ActionLink("Edit", "Edit", new { id = item.UserId })</text>),
     grid.Column("",format: @<text>@Html.ActionLink("Delete", "Delete", new { id = item.UserId })</text>)


                                      ))
    </div>
}
else
{
    <div id="gridContent">
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",

            columns: grid.Columns(
                            grid.Column("UserName", " User Name"),
                            grid.Column("FullName", "Full Name"),
     grid.Column("Action", format: @<text> @Html.ActionLink("Details", "Details", new { id = item.UserId })</text>)

                                            ))
    </div>
}
